/* #field,
#reserve {
  position: relative;
  }
  
  #reserve{
    background-color: black;
    width: 100%;
    height: 700px;
    }
    #st {
      background-image: url("../assets/src/img/badge_gold.webp");
      height: 100px;
    width: 70px;
    background-size: contain;
    position: absolute;
    bottom: 0;
    }
    
    */

* {
  box-sizing: border-box;
}

#field {
  background-image: url("../assets/images/field.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: relative; */
}

#pitch {
  grid-template-areas:
    "lw void1 st void2 rw"
    "void3 cml cdm cmr void4"
    "lb cb1 void5 cb2 rb"
    "void6 void7 gk void8 void9";

  /* place-content: space-between, space-between; */
}

.holder-card {
  background-image: url("../assets/src/img/placeholder-card-normal.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: 500;
}

.gold-card{
  background-image: url("../assets/src/img/badge_gold_croped.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 700;
}

.starter {
  width: 100%;
}

#lw {
  grid-area: lw;
  position: relative;
  top: 2.5rem;
}

#st {
  grid-area: st;
}

#rw {
  grid-area: rw;
  position: relative;
  top: 3rem;
}

#cml {
  grid-area: cml;
}

#cdm {
  grid-area: cdm;
  position: relative;
  top: 3rem;
}

#cmr {
  grid-area: cmr;
}

#lb {
  grid-area: lb;
}

#rb {
  grid-area: rb;
}

#cb1 {
  grid-area: cb1;
  position: relative;
  top: 3rem;
}

#cb2 {
  grid-area: cb2;
  position: relative;
  top: 3rem;
}

#gk {
  grid-area: gk;
}

.sub {
  width: 70%;
}

#players-popup button{
  height: 250px;
}


@keyframes popUp {
  from {
      opacity: 0;
  }
  to {
      opacity: 1; 
  }
}

#popup * {
  animation-name: popUp;
  animation-duration: 0.3s;
}